@import '../../sass/variables.scss';

.main{
    margin: $main-margin-top auto 100px auto;
    width: 100%;

    &__no-cities{
        text-align: center;
        color: $chosen-color;
    }

    &__button{
        @include button-style();
        background-color: $choose-button-bcg-color;
    }
}