@import '../../sass/variables.scss';

.city{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    max-width: 330px;
    margin: 5px auto;
    padding: 0 14px;
    background: $city-bcg-color;
    border-radius: 5px;

    &__name{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
    }

    &__time{
        text-align: left;
        font-weight: 600;
        font-size: 1.7rem;
        text-align: right;  
    }

    &__day{
        display: inline-block;
        color: $chosen-color;
        font-size: 1rem;
        font-weight: 400;
        width: 46px;
        text-align: left;
    }
}