@import '../../sass/variables.scss';

.welcome{
  width: 100%;

  &__title{
    text-align: center;
    color: $chosen-color;
    width: 100%;
  }

  &__button{
    @include button-style();
    background-color: $submit-button-bcg-color;
  }
}