@import '../../sass/variables.scss';

.header{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  width: 100%;
  margin: 0 auto;
  background: $header-bcg-color;
  color: white;

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title{
    flex-basis: 100%;
    font-size: 0.8rem;
    text-align: center;
  }

  &__logo{
    width: 35px;
    height: 35px;
  }
}